<div ng-if="appDelegate.isInfoModalOpen">
	
	<div class="infoModal">
	      <a class="closeBtn" href="" ng-click='toggleInfoModule()'>
	        <i class="fa fa-times-circle"></i>
	      </a>
	      <div class="infoText">
				<h3>About brained.io</h3>
				<p>
					Have you ever wanted to understand how the brain works? For the lay person, it's a frustrating endeavor, with existing resources being either too superficial or requiring a PhD in neuroanatomy to comprehend. We saught to find a middle ground, and to leverage the graphics capability of modern browsers to make our resource visually rich.</p>
				<p>
					This project was inspired by Mihnea Moldoveanu at the Rotman School of Management in Toronto. The functional breakdown and descriptions were provided by Stefanie Hutka, PhD candidate at the University of Toronto. The 3d brain was created by Merry Wang. The application runs on the Verold 3D engine.
				</p>
		</div>
	</div>
	<div class="backdrop"/>
</div>